<% if user_signed_in? %>
<h1>Transactions</h1>
<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Category</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
    <%= current_user.balance %>
    <%= @sum_trans %>
    <%= @current_balance %>
      <% @transactions.each do |transaction| %>
        <% if transaction.user == current_user%>
        <tr>
        <td><%= transaction.date %></td>
        <td><%= link_to transaction.name, transaction %></td>
        <td><%= transaction.description %></td>
        <td>$<%= transaction.amount %></td>
        <td><%= transaction.category %></td>
            <td><%= link_to "Show", transaction, class:"btn btn-outline-primary btn-sm"%></td>
            <td><%= button_to "Delete", @transaction, method: :delete, class:"btn btn-outline-danger btn-sm" %></td> 
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%= link_to "New transaction", new_transaction_path, class:"btn btn-secondary btn-lg"%>

<% else %>

<h1>Please sign in to view you account and transactions</h1>


<% end %>
