


<div class="p-5 mb-4 text-bg-dark rounded-3">
  <div class="container-fluid py-5">
      <h2 class="display-5 fw-bold mb-4"><%= @transaction.name %></h2>
      <h2><strong>Date:</strong>
      <%= @transaction.date %></h2>
      <h2><strong>Transaction Amount:</strong>
      $<%= @transaction.amount %></h2>
      <h2><strong>Description:</strong>
      <%= @transaction.description %></h2>
      <h3><strong>Category:</strong>
      <%= @transaction.category %></h3>

    <div>
      <%= link_to "Edit this transaction", edit_transaction_path(@transaction), class:"btn btn-info btn-lg my-3" %> 
      <%= button_to "Destroy this transaction", @transaction, method: :delete, class:"btn btn-danger btn-lg mb-3" %>
      <%= link_to "Back to transactions", transactions_path, class:"btn btn-secondary btn-lg" %>
    </div>
  </div>
</div>